html {
  font-size: 26.66667vw;
}
li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
img {
  vertical-align: middle;
}
body {
  font-size: 0.14rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  line-height: .14rem;
}
#header {
  background-color: #006699;
  height: 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .left {
  width: 0.45rem;
  height: .45rem;
}
#header .center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#header .center h4 {
  font-weight: normal;
}
#header .right {
  width: 0.45rem;
  height: .45rem;
}
#header .right a {
  height: .45rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  flex: 1;
  overflow: hidden;
}
#main .mui-scroll-wrapper {
  position: relative;
  height: 100%;
}
#footer {
  height: .45rem;
  background-color: #006699;
}
#footer .mui-row > div a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: .45rem;
  color: #fff;
}
#banner .mui-row {
  padding: .1rem;
}
#banner .mui-row > div a {
  display: block;
}
#banner .mui-row > div a img {
  width: 100%;
}
#brand {
  padding: 0 .1rem;
}
#brand > .mui-row > div a {
  display: block;
}
#brand > .mui-row > div a img {
  height: 2.4rem;
  width: 100%;
}
#brand > .mui-row > div > .mui-row > div a img {
  height: 1.2rem;
}
#trademark,
#sport,
#woman,
#man {
  padding: .1rem;
}
#trademark a,
#sport a,
#woman a,
#man a {
  display: block;
}
#trademark a img,
#sport a img,
#woman a img,
#man a img {
  width: 100%;
}
